@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300&display=swap");
.header {
  position: relative;
  padding: 0 80px;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header .nav .page-references {
  display: flex;
}
.header .nav .page-references .reference-wrapper {
  padding: 30px 20px;
  position: relative;
}
.header .nav .page-references .reference-wrapper .reference-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition-duration: 300ms;
}
.header .nav .page-references .reference-wrapper .reference-menu {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition-duration: 800ms;
  padding: 30px;
  border-radius: 2px;
  top: 82px;
  position: absolute;
  background-color: #212121;
  display: flex;
}
.header .nav .page-references .reference-wrapper .reference-menu .menu-content {
  width: 190px;
}
.header .nav .page-references .reference-wrapper .reference-menu .menu-content .menu-title {
  cursor: pointer;
}
.header .nav .page-references .reference-wrapper .reference-menu .menu-content .menu-item {
  cursor: pointer;
  transition-duration: 300ms;
}
.header .nav .page-references .reference-wrapper:hover .reference-menu {
  visibility: visible;
  opacity: 1;
  max-height: 900px;
}
.header .nav .logo {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.1em;
  color: #080808;
}
.header .nav .action-buttons {
  display: flex;
}
.header .nav .action-buttons .action-wrapper .action {
  font-size: 13px;
  font-weight: 700;
  padding: 30px 10px;
  cursor: pointer;
  transition-duration: 300ms;
}
.header .nav .action-buttons .action-wrapper .action .detail {
  font-family: "Montserrat", sans-serif;
  color: #929292;
}
.header .promotion-sidebar {
  background-color: #212121;
  padding: 66px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -1000px;
  transition-duration: 700ms;
}
.header .promotion-sidebar .promotion-content {
  text-align: center;
  width: 460px;
}
.header .promotion-sidebar .promotion-content .title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.header .promotion-sidebar .promotion-content .text {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}
.header .promotion-sidebar .promotion-content .images {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 10px;
}
.header .promotion-sidebar .promotion-content .images .image-url {
  width: 92px;
  height: 92px;
  display: block;
  position: relative;
}
.header .promotion-sidebar .promotion-content .images .image-url .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .promotion-sidebar .promotion-content .images .image-url .animation-container {
  visibility: hidden;
  opacity: 0;
  transition-duration: 500ms;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.header .promotion-sidebar .promotion-content .images .image-url .animation-container .icon-container {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.header .promotion-sidebar .promotion-content .images .image-url .animation-container .icon-container .icon {
  transition-duration: 500ms;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: white;
}
.header .promotion-sidebar .promotion-content .images .image-url:hover .animation-container {
  visibility: visible;
  opacity: 1;
}
.header .promotion-sidebar .promotion-content .images .image-url:hover .animation-container .icon-container .icon {
  bottom: 50%;
}
.header .promotion-sidebar-close-button {
  position: absolute;
  right: 30px;
  top: 30px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.header .promotion-sidebar-open {
  right: 0;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
}
.footer .footer-content {
  display: flex;
  justify-content: space-around;
}
.footer .footer-content .footer .references-wrapper .reference-title {
  font-size: 1.2em;
}
.footer .footer-content .footer .references-wrapper .reference-items {
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer .references-wrapper .reference-items .reference-item {
  margin-bottom: 10px;
}
.footer .footer-content .footer .references-wrapper .reference-items .reference-item .reference-link {
  text-decoration: none;
  color: #fff;
}
.footer .footer-content .footer .references-wrapper .reference-items .reference-item .reference-link:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
}

.text-black {
  color: #080808;
}

.text-secondary {
  color: #929292;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #a5a5a5;
}

.hover-secondary:hover {
  color: #929292;
}

.hover-white:hover {
  color: #fff;
}

.hover-black:hover {
  color: #080808;
}

body {
  overflow-x: hidden;
}

.products-section {
  padding: 0 80px;
  margin-bottom: 100px;
}
.products-section .product-nav {
  display: flex;
}
.products-section .product-nav .categories {
  display: flex;
  letter-spacing: 2px;
  margin-right: auto;
}
.products-section .product-nav .categories .category {
  padding: 0 10px;
  cursor: pointer;
  transition-duration: 300ms;
  font-size: 14px;
  font-weight: 400;
}
.products-section .product-nav .filter-wrapper {
  position: relative;
}
.products-section .product-nav .filter-wrapper .filter-button {
  letter-spacing: 2px;
  cursor: pointer;
  transition-duration: 300ms;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: top;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.products-section .product-nav .filter-wrapper .filter-menu {
  background-color: #212121;
  position: absolute;
  padding: 20px;
  right: 10px;
  top: 40px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition-duration: 800ms;
}
.products-section .product-nav .filter-wrapper .filter-menu .menu-content {
  width: 200px;
}
.products-section .product-nav .filter-wrapper .filter-menu .menu-content .menu-title {
  color: white;
  margin-bottom: 5px;
}
.products-section .product-nav .filter-wrapper .filter-menu .menu-content .menu-items .menu-item .menu-item-link {
  text-decoration: none;
  transition-duration: 300ms;
}
.products-section .product-nav .filter-wrapper:hover .filter-menu {
  visibility: visible;
  opacity: 1;
  max-height: 900px;
}
.products-section .product-list {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.products-section .product-list .product {
  display: flex;
  flex-direction: column;
}
.products-section .product-list .product .product-image-wrapper {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
}
.products-section .product-list .product .product-image-wrapper .product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.products-section .product-list .product .product-image-wrapper .left-tag {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  top: 15px;
  left: 15px;
}
.products-section .product-list .product .product-image-wrapper .right-tag {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 15px;
  right: 15px;
}
.products-section .product-list .product .product-image-wrapper .product-actions {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -50px;
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
}
.products-section .product-list .product .product-image-wrapper .product-actions .quick-look {
  background-color: #212121;
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.products-section .product-list .product .product-image-wrapper .product-actions .like {
  padding: 3px 5px;
  background-color: #a5a5a5;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.products-section .product-list .product .product-image-wrapper .product-actions .like .heart-icon {
  transition-duration: 300ms;
}
.products-section .product-list .product .product-title {
  text-align: center;
  font-weight: 500;
}
.products-section .product-list .product .product-footer {
  width: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 40px;
}
.products-section .product-list .product .product-footer .add-to-cart {
  position: absolute;
  left: -100%;
  top: 50%;
  transform: translate(0, -50%);
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.products-section .product-list .product .product-footer .price {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  visibility: visible;
  opacity: 1;
  transition-duration: 300ms;
}
.products-section .product-list .product:hover .product-image-wrapper .product-actions {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
.products-section .product-list .product:hover .product-footer .add-to-cart {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.products-section .product-list .product:hover .product-footer .price {
  right: -100%;
  visibility: hidden;
  opacity: 0;
}

.slider {
  margin-top: 100px;
  margin-bottom: 100px;
}/*# sourceMappingURL=home.css.map */