.footer
    background-color: white
    color: black
    padding: 20px 0

    .footer-content
        display: flex
        justify-content: space-around

        .references-wrapper
            .reference-title
                font-size: 1.2em

            .reference-items
                list-style: none
                padding: 0

                .reference-item
                    margin-bottom: 10px

                    .reference-link
                        text-decoration: none
                        font-family: 'Montserrat', sans-serif
                        color: $secondary-gray

                        &:hover
                            text-decoration: underline
